
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h5>Burası kendi oluşturduğumuz manzara sayfasıdır.</h5>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Berkay</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sıla</td>
        <td>Psikoloji</td>
    </tr>
</table>